<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-6">Events Calendar</h1>
<%= render 'events/partials/modal' %>
  <div class="mb-4">
    <%= link_to 'New Event', new_event_path, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
  </div>

  <div id='calendar' class="mb-8"></div>

  <h2 class="text-2xl font-bold mb-4">All Events</h2>

  <div class="overflow-x-auto">
    <table class="min-w-full bg-white">
      <thead class="bg-gray-100">
        <tr>
          <th class="py-2 px-4 border-b text-left">Title</th>
          <th class="py-2 px-4 border-b text-left">Date</th>
          <th class="py-2 px-4 border-b text-left">Price</th>
          <th class="py-2 px-4 border-b text-left">URL</th>
          <th class="py-2 px-4 border-b text-left">Color</th>
          <th class="py-2 px-4 border-b text-left" colspan="4">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td class="py-2 px-4 border-b"><%= link_to event.title, event_path(event), class: 'text-blue-500 hover:text-blue-700' %></td>
            <td class="py-2 px-4 border-b"><%= event.date.strftime('%Y-%m-%d %H:%M') %></td>
            <td class="py-2 px-4 border-b"><%= number_to_currency(event.price) %></td>
            <td class="py-2 px-4 border-b"><%= link_to event.url, event.url, target: '_blank' if event.url.present? %></td>
            <td class="py-2 px-4 border-b">
              <div class="w-6 h-6 rounded" style="background-color: <%= event.color %>;"></div>
            </td>
            <td class="py-2 px-4 border-b"><%= link_to 'Edit', edit_event_path(event), class: 'text-blue-500 hover:text-blue-700' %></td>
            <td class="py-2 px-4 border-b"><%= link_to 'Show', event_path(event), class: 'text-green-500 hover:text-green-700 mr-2' %></td>
            <td class="py-2 px-4 border-b"><%= link_to 'Delete', event, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-red-500 hover:text-red-700' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      events: '<%= events_path(format: :json) %>',
        eventClick: function (info) {
            info.jsEvent.preventDefault();

            // Обновим содержимое модалки
            document.getElementById('modal-title').textContent = info.event.title;
            document.getElementById('modal-description').innerHTML = `Цена: ${info.event.extendedProps.price}<br>Ссылка: <a href="${info.event.extendedProps.url}">${info.event.extendedProps.url}</a>` || 'Нет описания';

            // Покажем модалку
            const modal = new Modal(document.getElementById('event-modal'));
            modal.show();
        }
    });

    calendar.render();
  });
</script>
